/* ==========================================================================
   Bui Viet Son
   ========================================================================== */

html, body {
    overflow-x: hidden;
}
._text-upper {
  text-transform: uppercase;
}
._block-center {
  display: block;
  justify-content: center;
  align-items: center;
}
body {
  font-size: 18px;
  background: #fdfdfd;
  font-family: "Roboto", Tahoma, Arial, Sans-Serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
form {
  margin: 0;
}
a {
  color: #333;
  cursor: pointer;
}
a, a:focus {
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #0076a1;
}
input, input:focus {
  outline: none
}
#container .container {
  max-width: 1300px;
  height: auto;
}
.container.wrap-comment {
    display: block;
    justify-content: center;
}
#container .container-full {
  max-width: 1300px;
  height: auto;
  padding: 0px 15px;
  margin: auto;
}
body,h1,h2,h3,h4,h5,h6,p,a {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
* {
  padding: 0;
  margin: 0;
}

section#info-producer {
    padding-bottom: 20px;
}
.copyright {
    font-size: 16px;
    background: #5c1315;
    color: #fff;
    padding: 25px 10px;
    margin-top: -3px;
}
.block-footer-info {display: inline-flex;}
.block-footer-info img {
    width: 33%;
    height: 30%;
    margin-right: 10px;
}
section#footer {
    background: #691b1d;
    padding-top: 30px;
    font-size: 16px;
}
section#footer a {
    color: #fff;
    margin-right: 10px;
    border: 1px solid;
    padding: 5px;
    border-radius: 10px 0;
}
section#footer .panel-body {
    background: #691b1d;
    color: #fff;
    padding-top: 20px;
    padding: 0;
}
.form-group button {
    float: right;
}
.panel-body form {
    width: 86%;
    margin: auto;
}
section#footer .panel-heading {
    background: #5c1315;
    color: #fff;
    margin-bottom: 20px;
}
.about .panel-body p {
    padding: 10px 0;
}

section#footer .panel {
    border: none;
    border-radius: 5px;
    background: #691b1d;
}
.info-person {
    margin-top: 50px;
    margin-right: 10px;
}
.wrap-comment footer.text-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}
section#comment {
    padding-bottom: 40px;
    padding-top: 50px;
    text-align: center;
    color: #691b1d;
    background: #f1f1f1;
}
section#comment .item ._jumbotron {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    margin: auto 20px;
}
section#comment img {
    width: 30%;
    height: 30%;
    margin-top: 30px;
}
.owl-prev i {
    color: #fff;
    font-size: 36px;
    position: absolute;
    left: 20%;
    top: 25%;
}
.wrap-comment i.fa.fa-angle-left {
    color: #691b1d;
    left: -1%;
    top: 30%;
}
.wrap-comment i.fa.fa-angle-right {
    top: 30%;
    color: #691b1d;
    right: -1%;
}
.owl-next i {
    color: #fff;
    font-size: 36px;
    right: 20%;
    position: absolute;
    top: 25%;
}
div#customers-feeling .item {
    width: 700px;
    margin: auto;
    color: #fff;
}
.container.wrap-feeling {
    text-align: center;
}
section#feeling {
    background: #691b1d;
    padding: 30px;
}
section#feeling hr {
    background: #faf672;
    width: 100px;
    margin: 20px auto;
    height: 2px;
}
section#feeling h3 {
    font-weight: 600;
    padding-top: 20px;
    color: #faf672;
}
.container.info-producer {
    text-align: center;
    padding: 10px;
    color: #691b1d;
}
.container.info-producer h3 {
    font-weight: 600;
    padding-top: 20px;
}

.container.info-producer .address {
    margin-top: 18px;
}
.container.info-producer hr {
    background: #691b1d;
    width: 100px;
    margin: 20px auto;
    height: 2px;
}

/*header*/
header {
  background: #691b1d;
}
header .wrap-menu {
  position: relative;
  min-height: 90px;
  background: #691b1d;
}
header .sf-menu li a {
  color: #fff;
}
header .sf-menu li a:hover {
  background: transparent;
  color: yellow;
}
header ._navbar-toggle {
  background: #ffd65d;
}
header button span {
  background: #981b1e;
}
/*main*/
div#main {
  margin-top: -20px;
}
/*banner*/
section#wrap-banner {
    background: #6a1b1e;
    margin-bottom: -2px;
}
section#wrap-product {
    background: #691b1d;
}
.info {
    padding-top: 20px;
    background: #691b1d;
    padding: 15px;
}
.info .panel {
    border-radius: 0;
    margin: 0;
    margin-top: 1px;
}
.info .panel .panel-heading {
    background: #e1e1e1;
    color: #691b1d;
    font-weight: 600;
    padding: 3px 5px;
}
.info .panel .panel-heading i {
    padding-right: 10px;
}
div#carousel-product {
    padding: 15px;
    background: #691b1d;
}
div#carousel-product .item img {
    width: 100%;
}
.wrap-info-product {
    margin-top: -1px;
}
.wrap-product.container {
    background: #691b1d;
    margin-top: -1px;
    margin: 0;
}
.wrap-product.container h3 {
    padding-top: 50px;
    color: #fcf3a9;
}
.wrap-product.container hr {
    background: yellow;
    height: 1px;
    width: 30%;
}
.wrap-icon {
  text-align: center;
  padding: 20px;
}
.wrap-icon img {
    margin: 30px;
}

/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1300px) {
  #container .container, #container .container-full {
    width: 1300px;
  }
  header .wrap-menu #logo { 
    line-height: 80px;
  }
  header .wrap-menu #hotline {
    position: absolute;
    right: 0;
    top: 15px;
  }
  header .sf-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
  }
  .wrap-info-product {
      width: 100%;
      display: inline-flex;
      padding-left: 30px!important;
      padding-right: 30px!important;
      flex-direction: row-reverse;
      align-items: center;
    }
    #carousel-product {
      width: 40%;
      padding: 0!important;
    }
    .wrap-info-product .info {
      width: 60%;
      padding: 0px;
    }
    .wrap-info-product .info .panel {
      margin: 0px;
      padding: 0px;
      font-size: 18px;
    }
    .wrap-info-product .info .panel .panel-heading {
      margin: 0;
      padding: 10px 5px;
    }
    .wrap-info-product .info .panel .panel-body {
      margin: 0;
      padding: 8px;
      padding-left: 16px;
    }
    .wrap-product.container {
      padding-left: 30px;
    }
    footer img {
      width: 20%!important;
    }
}


/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1239px) and (max-width: 1299px) {
  #container .container-full {
  width: 100%;
  }
  header .wrap-menu #logo { 
    line-height: 80px;  
  }
  header .wrap-menu #hotline {
    position: absolute;
    right: 0;
    top: 15px;
  }
  header .sf-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
  }
  .wrap-info-product {
    width: 100%;
    display: inline-flex;
    padding-left: 30px!important;
    padding-right: 30px!important;
    flex-direction: row-reverse;
  }
  #carousel-product {
    width: 40%;
    padding: 0!important;
  }
  .wrap-info-product .info {
    width: 60%;
    padding: 0;
  }
  .wrap-info-product .info .panel {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  .wrap-info-product .info .panel .panel-heading {
    margin: 0;
    padding: 4px 5px;
  }
  .wrap-info-product .info .panel .panel-body {
    margin: 0;
    padding: 2px;
    padding-left: 10px;
  }
  div#customers-feeling .item {
      width: 700px;
      margin: auto;
      color: #fff;
  }
  .wrap-comment i.fa.fa-angle-left {
    color: #691b1d;
    left: -10%;
    top: 40%;
  }

  .wrap-comment i.fa.fa-angle-right {
    top: 40%;
    color: #691b1d;
    right: -10%;
  }
  .wrap-comment img {
    width: 20%!important;
  }
  footer img {
    width: 14%!important;
  }
}


/* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {
  #container .container-full {
      width: 100%;
  }
  #container .container-full {
  width: 100%;
  }
  header .wrap-menu #logo { 
    line-height: 80px;  
  }
  header .wrap-menu #hotline {
    position: absolute;
    right: -100px;
    top: 25px;
  }
  header .sf-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
  }
  header img {
    width: 70%;
  }
  .wrap-info-product {
    width: 100%;
    display: inline-flex;
    padding-left: 30px!important;
    padding-right: 30px!important;
    flex-direction: row-reverse;
  }
  #carousel-product {
    width: 40%;
    padding: 0!important;
  }
  .wrap-info-product .info {
    width: 60%;
    padding: 0;
  }
  .wrap-info-product .info .panel {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  .wrap-info-product .info .panel .panel-heading {
    margin: 0;
    padding: 4px 5px;
  }
  .wrap-info-product .info .panel .panel-body {
    margin: 0;
    padding: 2px;
    padding-left: 10px;
  }
  .owl-prev i {
    left: 10%;
  }
  .owl-next i {
      right: 10%;
  }
  div#customers-feeling .item {
      width: 700px;
      margin: auto;
      color: #fff;
  }
  .wrap-comment i.fa.fa-angle-left {
      color: #691b1d;
      left: -2%;
      top: 15%;
  }
  .wrap-comment i.fa.fa-angle-right {
      top: 15%;
      color: #691b1d;
      right: -2%;
  }
  .wrap-comment img {
    width: 20%!important;
  }
  footer img {
    width: 30%!important;
  }
}


/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #container .container-full {
      width: 100%;
    }
    #container .container-full {
      width: 100%;
    }
    header .wrap-menu #logo { 
      line-height: 80px;  
    }
    header .wrap-menu #hotline {
      position: absolute;
      right: -25%;
      top: 30px;
      width: 50%;
    }
    header .sf-menu {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 20px;
    }
    header img {
      width: 50%;
    }
    .sf-menu li a {
      font-size: 16px;
      font-weight: 600;
      padding: 15px 10px;
    }
    .owl-prev i {
      left: 10%;
    }
    .owl-next i {
        right: 10%;
    }
    div#customers-feeling .item {
        width: 500px;
        margin: auto;
        color: #fff;
    }
    .wrap-comment i.fa.fa-angle-left {
        color: #691b1d;
        left: 0%;
        top: 18%;
    }
    .wrap-comment i.fa.fa-angle-right {
        top: 18%;
        color: #691b1d;
        right: 0%;
    }
    .wrap-comment img {
      width: 20%!important;
    }
    footer img {
      width: 9%!important;
    }
}


/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  header img {
    width: 50%;
    margin-top: 20px;
  }
  header #hotline img {
    padding-bottom: 10px;
  }
  header ._navbar-toggle {
    position: relative;
    top: -30px;
    right: -10px;
  }
  .owl-prev i {
    left: 0%;
  }
  .owl-next i {
      right: 0%;
  }
  div#customers-feeling .item {
      width: 400px;
      margin: auto;
      color: #fff;
  }
  .wrap-comment i.fa.fa-angle-left {
    color: #691b1d;
    left: 0%;
    top: 23%;
  }
  .wrap-comment i.fa.fa-angle-right {
      top: 23%;
      color: #691b1d;
      right: 0%;
  }
  .wrap-comment img {
    width: 20%!important;
  }
  footer img {
    width: 14%!important;
  }
}


/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
    header .sf-menu {
      position: relative!important;
    }
    header img {
      width: 70%;
      margin-top: 10px;
    }
    header ._navbar-toggle {
      position: relative;
      top: -20px;
      right: -15px;
    }
    .owl-prev i {
      left: -5%;
    }
    .owl-next i {
      right: -10%;
    }
    div#customers-feeling .item {
        width: 250px;
        margin: auto;
        color: #fff;
    }
}
